process {
    // Resource allocation
    cpus = Runtime.getRuntime().availableProcessors()
	memory = (Runtime.getRuntime().maxMemory() / (1024 * 1024 * 1024)).GB

    // Process-specific configurations
    withName:fastqc {
        executor = 'local'
        beforeScript = """
        eval "\$(micromamba shell hook --shell bash)"
        micromamba activate fastqc
        """
    }
    withName:canu {
        executor = 'slurm'
        clusterOptions = '--account=hche0233 --partition=normal --job-name=FishGenome'
        beforeScript = """
        module load canu
        """
    }
}

// Enable conda (micromamba) integration
conda {
    enabled = true
    useMicromamba = true
    cacheDir = "$HOME/micromamba"
    micromambaPath = "$HOME/.local/bin/micromamba"
}