// Resource allocation
process {
    cpus = Runtime.getRuntime().availableProcessors()
	memory = (Runtime.getRuntime().maxMemory() / (1024 * 1024 * 1024)) .GB
}

// Profiles for different systems
profiles {
	local {
		process.executor = 'local'
		includeConfig 'configs/local.config'
	}
	hpc {
		process.executor = 'slurm'
		includeConfig 'configs/hpc.config'
	}
}

// Container configurations (if any)
docker.enabled = false
singularity.enabled = false
