process {
    executor = "local"
    withName:nanoplot {
        conda = "${baseDir}/envs/nanoplot.yml"
    }
    withName:porechop {
        conda = "${baseDir}/envs/porechop.yml"
    }
    withName:filtlong {
        conda = "${baseDir}/envs/filtlong.yml"
    }
    withName:buildIndex {
        conda = "${baseDir}/envs/minimap2.yml"
    }
    withName:mapReads {
        conda = "${baseDir}/envs/minimap2.yml"
    }
    withName:filterReads {
        conda = "${baseDir}/envs/seqkit.yml"
    }
    withName:canu {
        conda = "${baseDir}/envs/canu.yml"
    }
    withName:wtdbg2 {
        conda = "${baseDir}/envs/wtdbg2.yml"
    }
    withName:flye {
        conda = "${baseDir}/envs/flye.yml"
    }
    withName:raven {
        conda = "${baseDir}/envs/raven.yml"
    }
    withName:shasta {
        conda = "${baseDir}/envs/shasta.yml"
    }
    withName:racon {
        conda = "${baseDir}/envs/racon.yml"
    }
    withName:scaffold {
        conda = "${baseDir}/envs/ragtag.yml"
    }
    withName:scaffold2 {
        conda = "${baseDir}/envs/ragtag.yml"
    }
    withName:patch1 {
        conda = "${baseDir}/envs/ragtag.yml"
    }
    withName:patch2 {
        conda = "${baseDir}/envs/ragtag.yml"
    }
    withName:patch3 {
        conda = "${baseDir}/envs/ragtag.yml"
    }
    withName:patch4 {
        conda = "${baseDir}/envs/ragtag.yml"
    }
    withName:quickmerge1 {
        conda = "${baseDir}/envs/quickmerge.yml"
    }
    withName:quickmerge2 {
        conda = "${baseDir}/envs/quickmerge.yml"
    }
    withName:quickmerge3 {
        conda = "${baseDir}/envs/quickmerge.yml"
    }
    withName:quickmerge4 {
        conda = "${baseDir}/envs/quickmerge.yml"
    }
    withName:quast {
        conda = "${baseDir}/envs/quast.yml"
    }
    withName:quast_scaffold {
        conda = "${baseDir}/envs/quast.yml"
    }
    withName:busco {
        conda = "${baseDir}/envs/busco.yml"
    }
    withName:busco_scaffold {
        conda = "${baseDir}/envs/busco.yml"
    }
    withName:galignment {
        conda = "${baseDir}/envs/mummer4.yml"
    }
    withName:multiqc {
        conda = "${baseDir}/envs/multiqc.yml"
    }
}

// Enable conda (micromamba) integration
conda {
    enabled = true
    useMicromamba = true
    cacheDir = "$HOME/micromamba"
    micromambaPath = "$HOME/.local/bin/micromamba"
}
