process {
    executor = "local"
    withName: 'canu'
        beforeScript = """
        eval "\$(micromamba shell hook --shell bash)"
        micromamba activate canu
        """
    withName: 'wtdbg2'
        beforeScript = """
        eval "\$(micromamba shell hook --shell bash)"
        micromamba activate wtdbg
        """
    withName: 'flye|mtAssembly'
        beforeScript = """
        eval "\$(micromamba shell hook --shell bash)"
        micromamba activate flye
        """
    withName: 'raven'
        beforeScript = """
        eval "\$(micromamba shell hook --shell bash)"
        micromamba activate raven
        """
    withName: 'shasta'
        beforeScript = """
        eval "\$(micromamba shell hook --shell bash)"
        micromamba activate shasta
        """
    withName: 'racon|mtPolish'
        beforeScript = """
        eval "\$(micromamba shell hook --shell bash)"
        micromamba activate racon
        """
    withName: 'quast'
        beforeScript = """
        eval "\$(micromamba shell hook --shell bash)"
        micromamba activate quast
        """
    withName: 'busoc'
        beforeScript = """
        eval "\$(micromamba shell hook --shell bash)"
        micromamba activate busco
        """
    withName: 'galignment'
        beforeScript = """
        eval "\$(micromamba shell hook --shell bash)"
        micromamba activate mummer4
        """
    withName: 'multiqc|nanoplot|porechop|filtlong'
        beforeScript = """
        eval "\$(micromamba shell hook --shell bash)"
        micromamba activate preassembly
        """
    withName: 'scaffold|patch|scaffold2|quickmerge'
        beforeScript = """
        eval "\$(micromamba shell hook --shell bash)"
        micromamba activate quickmerge
        """
    withName: 'ganonClassify|decon|identifymtDNA|segregateReads'
        conda = './conda/decon.yml'
    withName: 'mtCircular'
        beforeScript = """
        eval "\$(micromamba shell hook --shell bash)"
        micromamba activate circlator
        """
    withName: 'mtAnnotate'
        beforeScript = """
        eval "\$(micromamba shell hook --shell bash)"
        micromamba activate prokka
        """
    withName: 'mtOrtho'
        beforeScript = """
        eval "\$(micromamba shell hook --shell bash)"
        micromamba activate orthofinder
        """
    withName: 'trimMSA'
        beforeScript = """
        eval "\$(micromamba shell hook --shell bash)"
        micromamba activate trimal
        """
    withName: 'mtTree'
        beforeScript = """
        eval "\$(micromamba shell hook --shell bash)"
        micromamba activate raxmlng
        """
}

// Enable conda (micromamba) integration
conda {
    enabled = true
    useMicromamba = true
    cacheDir = "$HOME/micromamba"
    micromambaPath = "$HOME/.local/bin/micromamba"
}
