process {
    executor = "local"
    withName: 'canu' {
        conda = "$baseDir/conda/canu.txt"
    }
    withName: 'wtdbg2' {
        conda = "$baseDir/conda/wtdbg2.txt"
    }
    withName: 'flye|mtAssembly' {
        conda = "$baseDir/conda/flye.txt"
    }
    withName: 'raven' {
        conda = "$baseDir/conda/raven.txt"
    }
    withName: 'shasta' {
        conda = "$baseDir/conda/shasta.txt"
    }
    withName: 'racon|mtPolish' {
        conda = "$baseDir/conda/racon.txt"
    }
    withName: 'quast' {
        conda = "$baseDir/conda/quast.txt"
    }
    withName: 'busco' {
        conda = "$baseDir/conda/busco.txt"
    }
    withName: 'galignment' {
        conda = "$baseDir/conda/mummer4.txt"
    }
    withName: 'porechop|filtlong' {
        conda = "$baseDir/conda/preassembly.txt"
    }
    withName: 'pipTools|multiqc' {
        conda = "$baseDir/conda/pip.txt"
    }
    withName: 'nanoplot' {
        conda = "$baseDir/conda/nanoplot.txt"
    }
    withName: 'scaffold|patch|scaffold2|quickmerge' {
        conda = '$baseDir/conda/scaffold.txt'
    }
    withName: 'decon|identifymtDNA' {
        conda = "$baseDir/conda/minimap2.txt"
    }
    withName: 'mtCircular' {
        conda = "$baseDir/conda/circlator.txt"
    }
    withName: 'mtAnnotate' {
        conda = "$baseDir/conda/mitos.txt"
    }
    withName: 'mtOrtho' {
        conda = "$baseDir/conda/orthofinder.txt"
    }
    withName: 'trimMSA' {
        conda = "$baseDir/conda/trimal.txt"
    }
    withName: 'mtTree' {
        conda = "$baseDir/conda/raxmlng.txt"
    }
}

// Enable conda (micromamba) integration
conda {
    enabled = true
    useMicromamba = true
    cacheDir = "$HOME/micromamba"
    micromambaPath = "$HOME/.local/bin/micromamba"
}
